[submodule "robot"]
	path = robot
	url = git@github.com:ChandlerSwift/duluth-robot-site
[submodule "arduino"]
	path = arduino
	url = git@github.com:ChandlerSwift/arduino-class
[submodule "docker"]
	path = docker
	url = https://github.com/ChandlerSwift/docker-class.git
